<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetap1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomeetap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomeetap"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".TabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TabTheme"></activity>
        <activity android:name=".ComentarActivity"
            android:theme="@style/AppThemeFullScreen" ></activity>
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity android:name=".ImagePicker.HiddenActivity" />
        <activity
            android:name=".DetailActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".CheckEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".PasswordTrueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProfilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".ChangePassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>